@import "styles/mixins.module.scss";
@import "styles/colors.module.scss";
@import "styles/variables.module.scss";

.backgroundWrapper {
  opacity: 0px;
}

.white {
  background-color: $white;
  color: $black;
}

.black {
  background-color: $black;
  color: $white;
}
