@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.classNameTextPartGridContainerSaving {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-up {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.classNameTextPartGridContainerVintage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  padding: 20px 0px;
  gap: 15px;

  li {
    flex: 1 1 calc(50% - 15px);
    list-style-type: disc;
  }

  @include tablet-up {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.classNameTextPartGridContainerRecipe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 20px;
  gap: 14px;

  li {
    flex: 1 1 calc(50% - 7px);
    text-align: center;
  }

  @include tablet-up {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.classNameTextPartGridContainerLiterary {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 40px 0px 0px;
  gap: 17px;

  li {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
  }

  @include tablet-up {
    flex-wrap: nowrap;
    width: 107%;
    margin: 85px 0px 0px -27px;
    justify-content: space-between;

    li {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  @include desktop-large {
    margin: 205px 0px 0px -27px;
  }
}

.classNameGridContainerRecipe_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 20px 0px 0px;
  gap: 14px 10px;

  @include tablet-up {
    justify-content: flex-start;
  }
}

.classNameGridContainerSaving {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0px;

  &:nth-child(odd) {
    width: 122px;

    @include tablet-up {
      width: 225px;
      border-bottom: 0.5px #818182 solid;
    }
  }

  &:nth-child(even) {
    width: 202px;

    @include tablet-up {
      width: 225px;
      border-bottom: 0.5px #818182 solid;
    }
  }
}

.classNameGridContainerVintage {
  width: 100%;
}

.classNameGridContainerRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.classNameGridContainerLiterary {
  @extend .classNameGridContainerRecipe;
}

.classNameTextGridTitleSaving {
  @include Grotesk_font16_weight500;
  width: 63px;

  @include tablet-up {
    width: 80px;
  }
}

.descriptionWrapper {
  list-style-type: disc;
  margin-left: 20px;
}

.classNameTextGridTitleVintage {
  @include Zabal_font14_weight_500;
  text-transform: uppercase;
  color: #434343;

  @include tablet-up {
    @include Zabal_font12_weight_500;
  }
}

.classNameTextGridTitleRecipe {
  @include Avenir_font14_weight_400;
  color: #4a4a49;
}

.classNameTextGridTitleLiterary {
  @include SF_font16_weight_400;
  color: #4a4a49;
}

.classNameTextGridDescriptionSaving {
  @include Grotesk_font12_weight400;
  width: 119px;

  @include tablet-up {
    width: 130px;
  }
}

.classNameTextGridDescriptionRecipe {
  @include Avenir_font16_weight_500;
  color: #4a4a49;
}

.classNameTextGridDescriptionLiterary {
  @include SF_font14_weight_510;
  text-align: center;
}

.classNameTextGridTitleRecipe_2 {
  @include Avenir_font24_weight_500;
  color: #8f8f8e;
}

.titleTextImageGridLiterary_4 {
  @include SF_font26_weight_510;

  @include tablet-up {
    @include SF_font30_weight_510;
  }
}

.classNameTextGridDescriptionRecipe_2 {
  @include Avenir_font12_weight_350;
}

.classNameGridContainerTitleTextImageGridRecipe_1 {
  display: flex;
  flex-direction: column;
  @include SF_font16_weight_274;
}

.classNameGridContainerTitleTextImageGridRecipe_1 {
  display: flex;
  flex-direction: column;
  @include Avenir_font16_weight_300;
}

.classNameTextPartGridContainerTitleTextImageGridRecipe_1 {
  display: flex;
  gap: 5px;
  text-align: start;
}

.classNameTextPartGridContainerTitleTextImageGridLiterary_4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  margin-bottom: 32px;

  @include tablet-up {
    gap: 12px;
  }
}
