@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.footerProjectRecipe {
  background: #f5f5f5;
}

.classNameTitle {
  max-width: 160px;
  color: #f0923f;
  @include font24_weight500_H3_Mobile;
  text-align: center;

  @include tablet-up {
    @include font50_weight700_H2;
    max-width: 100%;
  }
}

.classNameLink {
  @include Zabal_font48_weight_700;
  background: #ffffff80;
}

.imageArrowName {
  @include Avenir_font16_weight_400;
  text-align: center;
  color: $black;
}

.imageBackgroundRecipeDesktop {
  aspect-ratio: 1001/316;

  @include tablet {
    margin: 0px -48px 60px;
  }

  @include desktop {
    margin: 0px -80px 60px;
  }
}

.imageBackgroundRecipeMobile {
  aspect-ratio: 375/269;
  margin: 0px -20px 40px;

  @include tablet {
    margin: 0px -48px 60px;
  }
}
