@import '../../../styles/mixins.module.scss';
@import '../../../styles/colors.module.scss';
@import '../../../styles/variables.module.scss';

.wrapper {
  color: $black;
  background-color: $white;
  height: 218px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid $black;
  padding: 0px 10px;
  grid-template-areas:
    'a'
    'b';

  @include tablet-up {
    height: 250px;
    justify-items: start;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'b a';
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.classNameLink {
  grid-area: a;
  justify-self: center;

  @include tablet-up {
    justify-self: end;
    align-self: center;
    margin-right: 40px;
  }
}

.logo {
  width: 104px;
  height: 67px;
  cursor: pointer;
  display: none;

  @include tablet-up {
    display: block;
  }
}

.contacts {
  grid-area: b;

  @include tablet-up {
    margin-left: 40px;
    align-items: start;
  }
}

.contactLinkTitle {
  @include font24_weight400;
  align-self: flex-start;

  @include tablet-up {
    margin-top: 27px;
  }
}

.contactLinkWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  justify-content: space-between;

  @include tablet-up {
    gap: 32px 100px;
  }
  @include tablet {
    gap: 32px 60px;
  }
}
