@import 'styles/mixins.module.scss';
@import 'styles/colors.module.scss';
@import 'styles/variables.module.scss';

.wrapper {
  color: $black;
  background-color: $white;
  height: 218px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid $black;
  margin-top: 30px;
  grid-template-areas:
    'a'
    'b'
    'c';

  @include tablet-up {
    height: 373px;
    justify-items: start;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
      'b a'
      'c c';
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.classNameLink {
  grid-area: a;
  padding: 0px 10px;
  justify-self: center;

  @include tablet-up {
    justify-self: end;
    align-self: center;
    margin-right: 40px;
  }
}

.logo {
  width: 104px;
  height: 67px;
  cursor: pointer;
  display: none;

  @include tablet-up {
    display: block;
  }
}

.contacts {
  grid-area: b;
  padding: 0px 10px;

  @include tablet-up {
    margin-left: 40px;
    align-items: start;
  }
}

.contactLinkTitle {
  @include font24_weight400;
  align-self: flex-start;

  @include tablet-up {
    margin-top: 40px;
  }
}

.contactLinkWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  justify-content: space-between;

  @include tablet-up {
    gap: 32px 100px;
  }
  @include tablet {
    gap: 32px 60px;
  }
}

.contactLinksBottom {
  @include paragraphM;
  grid-area: c;
  align-self: center;
  justify-self: center;
  padding: 30px 0px 40px;
  width: 100%;
  border-top: 0.1px #989696 solid;

  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    & > li:nth-child(1),
    & > li:nth-child(2) {
      text-decoration: underline;
      align-self: center;
    }
    & > li:nth-child(3) {
      align-self: center;
    }
  }
}
