@use '/styles/mixins.module.scss' as *;
@use '/styles/colors.module.scss' as *;
@use '/styles/variables.module.scss' as *;

.classNameWrapperLiterary_1 {
  position: relative;

  @include tablet-up {
    padding-top: 90px;
  }
}

.classNameWrapperSaving {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 70px;
  gap: 46px;

  @include tablet-up {
    flex-direction: row;
    gap: 65px;
  }
}

.classNameWrapperVintage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  gap: 65px;
}

.classNameWrapperVintage_1 {
  display: flex;
  flex-direction: column;
  margin: 140px 0 70px;
  gap: 70px;

  @include tablet-up {
    flex-direction: row;
    gap: 65px;
  }
}

.classNameWrapperRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px -20px 70px;
  gap: 20px;

  @include tablet {
    margin: 0px -48px 70px;
  }

  @include desktop {
    margin: 0px -80px 70px;
  }
}

.classNameWrapperRecipe_2 {
  display: grid;
  grid-template-areas:
    'm'
    'e';
  grid-template-columns: 1fr;
  padding: 70px 0px;

  @include tablet {
    grid-template-areas: 'm e';
    grid-template-columns: 60% 40%;
  }

  @include desktop {
    grid-template-areas: 'm e';
    grid-template-columns: 2fr 1fr;
  }

  @include desktop-large {
    grid-template-areas: 'm e';
    grid-template-columns: 2fr 1fr;
  }
}

.classNameWrapperLiterary {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  box-sizing: border-box;
  gap: 5px;
  position: relative;

  > :nth-child(1),
  > :nth-child(2) {
    flex: 1 1 45%;
  }

  @include tablet {
    > :nth-child(1),
    > :nth-child(2) {
      flex: 1 1 35%;
    }

    > :nth-child(3) {
      width: 100%;
    }
  }

  @include desktop-large {
    margin-left: 60px;
  }
}

.classNameContainerSaving {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet-up {
    align-items: start;
  }
}
.classNameTitleSaving {
  margin-bottom: 12px;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.classNameContainerVintage {
  display: flex;
  flex-direction: column;
}

.classNameContainerRecipe {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

  @include tablet-up {
    width: 100%;

    ul {
      order: 1;
      align-items: baseline;
      margin-top: 40px;
    }

    h2,
    div {
      order: 2;
      text-align: center;
    }
  }
}

.classNameContainerRecipe_2 {
  grid-area: m;
  padding: 0px 0px 70px;

  @include tablet-up {
    width: 100%;
    padding: 0px;
  }
}

.classNameContainerLiterary {
  display: flex;
  flex-direction: column;
}

.titleImageTextLiterary {
  margin-bottom: 12px;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.classNameTitleVintage {
  color: $titleTextVintage;

  @include font40_weight800_H1_Mobile;
  text-align: center;

  @include tablet-up {
    @include font80_weight800_H1;
    text-align: center;
  }
}

.classNameTitleVintage_1 {
  margin-bottom: 12px;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.classNameTitleRecipe {
  @include Avenir_font44_weight_300;
  color: #f0923f;

  span {
    @include Avenir_font44_weight_500;
  }

  @include tablet-up {
    @include Avenir_font80_weight_300;
    margin-top: 70px;

    span {
      @include Avenir_font80_weight_500;
    }
  }
}

.classNameTitleRecipe_1 {
  color: #f0923f;
  margin: 140px 0px 12px;

  @include tablet-up {
    margin: 140px 0px 16px;
  }
}

.classNameTitleLiterary {
  @include font40_weight800_H1_Mobile;
  color: $backgroundLiterary_1;
  margin-bottom: 16px;

  @include tablet-up {
    @include font80_weight800_H1;
    margin-bottom: 23px;
  }
}

.classNameSubTitleRecipe_2 {
  margin-bottom: 12px;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.classNameDescriptionSaving {
  @include paragraphL;
  text-align: center;

  @include tablet-up {
    text-align: start;
  }
}

.classNameDescriptionVintage_1 {
  @include paragraphL;

  span {
    font-weight: 600;

    @include paragraphL;
  }

  @include tablet-up {
    text-align: start;
  }
}

.classNameDescriptionRecipe {
  color: $descriptionRecipe;
  @include paragraphL;
  text-align: center;
}

.classNameDescriptionRecipe_1 {
  @include paragraphL;
}

.classNameDescriptionLiterary {
  margin-top: 16px;

  @include paragraphXS;

  @include tablet-up {
    @include paragraphL;
    margin-top: 26px;
    text-align: left;
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  @include tablet-up {
    margin: 0 40px;
  }
}

.mainImageProjectSaving_2 {
  @extend .image;
  aspect-ratio: 1601/932;
  max-width: 335px;

  @include tablet-up {
    max-width: 414px;
    margin: 0px;
  }

  @include desktop-large {
    margin: 0 40px;
  }
}

.mainImageProjectVintage_2 {
  @extend .image;
  aspect-ratio: 355/205;
  max-width: 375px;

  @include tablet-up {
    max-width: 700px;
  }
}

.mainImageProjectVintage_22 {
  @extend .image;
  aspect-ratio: 1760 / 1204;
  max-width: 335px;
  border-radius: 32px;

  @include tablet-up {
    max-width: 614px;
  }
}

.mainImageProjectRecipe_2 {
  @extend .image;
  aspect-ratio: 3840 / 1413;
  margin: 30px -20px;
  scale: 1.1;

  @include tablet-up {
    scale: 1;
  }
}

.mainImageProjectLiterary {
  @extend .image;
  aspect-ratio: 177/209;

  @include tablet-up {
    aspect-ratio: 347/409;
    max-width: 347px;
  }
}

.textPartImageProjectLiterary {
  width: 100%;
  aspect-ratio: 115/15;
  max-width: 115px;

  @include tablet-up {
    aspect-ratio: 390/52;
    max-width: 440px;
  }
}

.imageTextWithFlexRecipe_2 {
  grid-area: e;
  @extend .image;
  width: 100%;
  aspect-ratio: 335/336;
  max-width: 335px;
}

.backgroundImageTextWithFlexLiterary {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100% + 0px);
  width: calc(100% + 40px);
  position: absolute;
  top: -75px;
  left: -20px;

  @include tablet {
    height: calc(100% + 387px);
    width: calc(100% + 96px);
    top: -345px;
    left: -48px;
  }

  @include desktop {
    height: calc(100% + 387px);
    width: calc(100% + 160px);
    top: -425px;
    left: -80px;
  }

  @include desktop-large {
    height: calc(100% + 635px);
    width: 100%;
    top: -570px;
    left: 0px;
  }
}

.backgroundImageDesktopTextWithFlexLiterary {
  @extend .backgroundImageTextWithFlexLiterary;
}

.backgroundImageMobileTextWithFlexLiterary {
  @extend .backgroundImageTextWithFlexLiterary;
}
