@use '../../../styles/mixins' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  margin: 0px -20px;
  padding: 140px 20px 70px;
  border-bottom: 0.3px #dbdbdb solid;

  @include tablet {
    margin: 0px -48px;
    padding: 140px 48px 70px;
  }

  @include desktop {
    margin: 0px -80px;
    padding: 140px 80px 70px;
  }

  @include desktop-large {
    margin: 0px -80px;
    padding: 140px 80px 70px;
  }
}

.classNameTitleImagesTextRecipe {
  color: #f0923f;
  margin-bottom: 70px;
}

.classNameDescriptionImagesTextRecipe {
}

.classNameImagesTextWrapperTitleImagesTextRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classNameContainerTitleImagesTextRecipe {
  display: flex;
  align-items: center;
}

.classNameTextTitleImagesTextRecipe {
  text-align: center;
  color: #f0923f;
  border: 1px #f0923f solid;
  border-radius: 50%;
  width: 21px;
  height: 22px;
  margin: 0px 6px;
  cursor: pointer;
}

.unVisibleText {
  @extend .classNameTextTitleImagesTextRecipe;
  visibility: hidden;
  opacity: 0;
  cursor: none;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.imagesDesktopTitleImagesTextRecipe {
  @extend .image;
  aspect-ratio: 986/760;
}

.imagesMobileTitleImagesTextRecipe {
  @extend .image;
  width: 135px;
  border-left: 0.2px $border_1 solid;
  border-right: 0.2px $border_1 solid;
}

.imagesMobileTitleImagesTextRecipe_1 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/39;
  border-top: 0.2px $border_1 solid;
  border-radius: 5px 5px 0px 0px;
}

.imagesMobileTitleImagesTextRecipe_2 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/56;
}

.imagesMobileTitleImagesTextRecipe_3 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/101;
}

.imagesMobileTitleImagesTextRecipe_4 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/72;
}

.imagesMobileTitleImagesTextRecipe_5 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/76;
}

.imagesMobileTitleImagesTextRecipe_6 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/90;
}

.imagesMobileTitleImagesTextRecipe_7 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/71;
}

.imagesMobileTitleImagesTextRecipe_8 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/91;
}

.imagesMobileTitleImagesTextRecipe_9 {
  @extend .imagesMobileTitleImagesTextRecipe;
  aspect-ratio: 135/77;
  border-bottom: 0.2px $border_1 solid;
  border-radius: 0px 0px 5px 5px;
}
