@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.footerProjectVintage {
  background: $footerProject;
  margin-bottom: 140px;
}

.classNameTitle {
  max-width: 160px;
  color: #ffffff;
  @include font24_weight500_H3_Mobile;
  text-align: center;

  @include tablet-up {
    @include font50_weight700_H2;
    max-width: 100%;
    text-align: center;
  }
}

.classNameLink {
  background: #ffffff80;
}

.imageArrowName {
  @include paragraphL;
  text-align: center;
  color: #ffffff;
}

.imageComponentWrapper {
  margin-top: 140px;
  margin-bottom: 140px;
}

.imageBackgroundVintageDesktop {
  aspect-ratio: 1001/316;

  @include tablet {
    margin: 0px -48px 60px;
  }

  @include desktop {
    margin: 0px -80px 60px;
  }
}

.imageBackgroundVintageMobile {
  aspect-ratio: 375/269;
  margin: 0px -20px 40px;

  @include tablet {
    margin: 0px -48px 60px;
  }
}
