@import "/styles/mixins.module.scss";
@import "/styles/colors.module.scss";
@import "/styles/variables.module.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    gap: 65px;

    @include tablet-up {
        flex-direction: row;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 14px;

    @include tablet-up {
        gap: 10px;
        align-items: start;
    }
}

.title {
    @include Grotesk_font30_weight_500;
}

.description {
    @include Grotesk_font16_weight400;
    text-align: center;

    @include tablet-up {
        text-align: start;
    }
}

.textPartContainer {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet-up {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.textGridContainer {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;

    &:nth-child(odd) {
        width: 122px;

        @include tablet-up {
            width: 225px;
        }
    }

    &:nth-child(even) {
        width: 202px;

        @include tablet-up {
            width: 225px;
        }
    }
}

.titleTextBlock {
    @include Grotesk_font16_weight500;
    width: 63px;

    @include tablet-up {
        width: 80px;
    }
}

.descriptionTextBlock {
    @include Grotesk_font12_weight400;
    width: 119px;

    @include tablet-up {
        width: 130px;
    }
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    @include tablet-up {
        margin: 0 40px;
    }
}

.mainImageProjectSaving_2 {
    aspect-ratio: 335/233;
    max-width: 335px;

    @include tablet-up {
        aspect-ratio: 414/233;
        max-width: 414px;
    }
}
