@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.textBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 40px;

  @include tablet-up {
    margin: 40px 0px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px 60px;

    .containerTextBlockSaving {
      &:first-child {
        flex: 1 1 calc(50% - 30px);
      }

      &:nth-child(2) {
        flex: 0 1 calc(50% - 30px);
      }

      &:last-child {
        flex: 1 1 calc(50% - 30px);
        order: -1;
      }
    }
  }
}

.classNameTitle {
  display: none;
}

.titleTextBlockSaving {
  @include Grotesk_font30_weight_500;
  text-align: center;
}

.subtitleTextBlockSaving {
  @include Grotesk_font24_weight500;
  margin: 36px 0px 12px;
  text-align: center;

  @include tablet-up {
    text-align: left;
  }
}

.descriptionTextBlockSaving {
  @include Grotesk_font16_weight400;
  color: #545454;
  padding-left: 10px;

  &::before {
    content: '\a';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #545454;
    display: inline-block;
    margin-right: 10px;
    margin-left: -17px;
    vertical-align: middle;
  }
}
