@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  position: relative;

  @include tablet-up {
    flex-direction: row;
  }
}

.wrapperProjectReverse {
  @include tablet-up {
    margin-right: -80px;
  }
}

.wrapperProject {
  @include tablet-up {
    flex-direction: row-reverse;
    margin-left: -80px;
  }
}

.backgroundImageProjectSaving_1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px -20px;
  padding: 0px 20px;

  @include tablet {
    margin: 0px -48px;
    padding: 0px 48px;
  }

  @include desktop {
    margin: 0px -80px;
    padding: 0px 80px;
  }
}

.projectNameStylesReverse {
  @include font32_weight400;
  color: $projectName;

  @include tablet-up {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    text-orientation: mixed;
    -webkit-text-orientation: mixed;
    transform: rotateZ(-180deg);
    text-align: end;
  }
}

.projectNameStyles {
  @include font32_weight400;
  color: $projectName;
  text-align: end;

  @include tablet-up {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-text-orientation: mixed;
    text-align: start;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    gap: 20px;
  }
}

.labelImageProject1 {
  max-width: 191px;
}

.containerProjectReverse {
  @include tablet-up {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.project_saving {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet-up {
    justify-content: space-evenly;
  }
}

.project_1 {
  background-color: $backgroundProject_1;
}
.project_2 {
  background-color: $backgroundProject_2;
}
.project_3 {
  background-color: $backgroundProject_3;
}
.project_4 {
  background-color: $backgroundProject_4;
}

.textPartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 0px 40px 20px;

  @include tablet-up {
    padding: 40px 0px 40px 40px;
  }
}

.textPartContainerProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;

  @include tablet-up {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0px 40px 120px;
  }
}

.mainImage {
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 40px;

  @include tablet-up {
    max-width: 352px;
  }
}

.mainImageProject_1 {
  @extend .mainImage;
  max-width: 161px;
  aspect-ratio: 161/329;
  margin-top: 40px;

  @include tablet-up {
    margin: 0px 0px 40px 110px;
  }
}

.mainImageProject_2 {
  aspect-ratio: 567 / 239;
  max-width: 320px;

  @include tablet {
    max-width: 300px;
    max-height: 180px;
  }

  @include desktop {
    max-width: 567px;
    margin: 0px 20px 0px 20px;
  }

  @include desktop-large {
    max-width: 567px;
    margin: 0px 20px 0px 20px;
  }
}

.mainImageProject_3 {
  aspect-ratio: 0.85;
  max-width: 300px;

  @include tablet-up {
    margin-left: 40px;
  }
}

.mainImageProject_4 {
  aspect-ratio: 300 / 250;
  max-width: 300px;

  @include tablet-up {
    max-width: 432px;
    margin-right: 30px;
  }
}

.mainImageProjectSaving_1 {
  aspect-ratio: 178/372;
  max-width: 125px;

  @include tablet-up {
    max-width: 177px;
  }
}

.textImagePropsProjectsButton {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 30px;
  border-radius: 12px;
  letter-spacing: 0.1rem;
  @include font20_weight400;

  @include tablet-up {
    margin-left: 0px;
  }
}
