@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.root {
  @include make-side-padding($max-width: $max-content-width);
}

.mainStyles {
  margin-top: 130px;
}

.messageContainer {
  width: 70%;
  height: 40%;
  margin: 80px auto;
  text-align: center;
}

.button {
  @include font20_weight400;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 30px;
  border-radius: 12px;
  letter-spacing: 0.1rem;
  background: $black;
  color: $white;
  margin-top: 30px;
}

.notFoundText {
  margin-bottom: 40px;
}
