@use '../../../styles/mixins' as *;

.wrapperPersonDataVintage {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 120px;
}

.containerPersonDataVintage {
  display: grid;
  grid-template-areas:
    'a b'
    'c c'
    'd d';
  grid-template-columns: auto 1fr;
  gap: 1.5rem 0.5rem;
  width: 100%;
  height: auto;

  @include tablet-up {
    gap: 1rem;
    grid-template-areas:
      'a b'
      'e c'
      'e d';
  }
}

.titleNamePersonDataVintage {
  padding-bottom: 40px;
}

.imagePersonDataVintage {
  grid-area: a;
  width: 100%;
  aspect-ratio: 124/135;
  min-width: 124px;

  @include tablet-up {
    min-width: 237px;
  }
}

.containerTextPartPersonDataVintage {
  grid-area: b;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-evenly;

  li:first-child > span {
    @include font28_weight600_H3;
  }
}

.additionalInfoNamePersonDataVintage {
  grid-area: c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// .titleNamePersonDataVintage {}

.mainInfoNamePersonDataVintage {
  display: flex;
  align-items: center;
  gap: 6px;
}

.containerAttachmentsPersonDataVintage {
  grid-area: d;
  display: flex;
  gap: 16px;
  justify-content: space-between;

  @include tablet-up {
    justify-content: flex-start;
    gap: 70px;
  }
}

.attachmentTitlePersonDataVintage {
  margin-bottom: 16px;
}

.containerAttachmentPersonDataVintage {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
  gap: 12px;
}

.attachmentDescriptionPersonDataVintage {
  @include paragraphM;
  text-align: left;
}
