@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.wrapperTextWithTitle {
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  gap: 36px;

  @include tablet-up {
    margin: 78px 0px 40px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.wrapperTextWithTitleSaving {
  @extend .wrapperTextWithTitle;

  @include tablet-up {
    flex-wrap: wrap;
  }
}

.wrapperTextWithTitleVintage {
  @extend .wrapperTextWithTitle;

  @include tablet-up {
    flex-wrap: nowrap;
    li {
      flex: 1 1 50%;
    }
  }
}

.containerTextWithTitleSaving {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include tablet-up {
    max-width: 430px;
    &:last-child {
      max-width: 600px;
    }
  }
}

.containerTextWithTitleVintage {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleTextWithTitleSaving {
  @include Grotesk_font24_weight500;
}

.titleTextWithTitleVintage {
  @include Zabal_font36_weight_700;

  @include tablet-up {
    @include Zabal_font50_weight_700;
  }
}

.descriptionTextWithTitleSaving {
  @include Grotesk_font14_weight400;
  color: #545454;
}

.descriptionTextWithTitleVintage {
  @include Zabal_font16_weight_300;
}
