@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.classNameWrapperTitleTextImageGridRecipe_3 {
  display: grid;
  grid-template-areas:
    'a'
    'c'
    'b';
  grid-gap: 10px 0px;
  grid-template-columns: 1fr;
  margin: 60px 0px;

  @include tablet-up {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'a a'
      'c d';
    grid-gap: 0px 30px;
  }

  @include tablet {
    grid-template-columns: 60% 40%;
  }

  @include desktop {
    grid-template-columns: 2.5fr 1fr;
  }

  @include desktop-large {
    grid-template-columns: 2.5fr 1fr;
  }
}

.classNameWrapperTitleTextImageGridLiterary {
  margin: 140px 0px;
}

.classNameWrapperTitleTextImageGridLiterary_1 {
  padding: 40px 20px;
  margin: 140px -20px;
  border-radius: 32px;
  background: #2b47d4;

  @include tablet {
    padding: 60px 48px;
    margin: 140px -48px;
  }

  @include desktop {
    padding: 60px 80px;
    margin: 140px -80px;
  }
}

.headerContainer {
  grid-area: a;
  margin-bottom: 30px;
}

.classNameTitleTextImageGridRecipe_3 {
  @include Avenir_font36_weight_800;
  color: #f0923f;
  margin: 40px 0px 0px;
  text-transform: uppercase;

  @include tablet-up {
    @include Avenir_font40_weight_800;
    margin-top: 60px;
  }
}

.classNameTitleTextImageGridLiterary {
  margin-bottom: 40px;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.classNameTitleTextImageGridLiterary_1 {
  @extend .classNameTitleTextImageGridLiterary;
  margin: 0;
  color: $white;
}

.classNameTitleTextImageGridRecipe_4 {
  @extend .classNameTitleTextImageGridRecipe_3;
}

.titleTextImageGridRecipe_3 {
  @include Avenir_font30_weight_500;
}

.titleTextImageGridRecipe_4 {
  @extend .titleTextImageGridRecipe_3;

  @include tablet-up {
    width: 30%;
  }
}

.titleTextImageGridLiterary {
  @include font24_weight500_H3_Mobile;
  margin-bottom: 12px;

  @include tablet-up {
    @include font28_weight600_H3;
  }
}

.titleTextImageGridLiterary_1 {
  @extend .titleTextImageGridLiterary;
}

.descriptionTitleTextImageGridRecipe_3 {
  @include Avenir_font14_weight_300;
}

.descriptionTitleTextImageGridRecipe_4 {
  @extend .descriptionTitleTextImageGridRecipe_3;
}

.descriptionTitleTextImageGridLiterary {
  @include paragraphL;
}

.descriptionTitleTextImageGridLiterary_1 {
  @extend .descriptionTitleTextImageGridLiterary;
}

.classNameTextPartGridContainerTitleTextImageGridRecipe_3 {
  grid-area: c;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 30px 0px;

  @include tablet-up {
    margin: 0;
  }
}

.classNameTextPartGridContainerTitleTextImageGridRecipe_4 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 30px 0px;
}

.classNameTextPartGridContainerTitleTextImageGridLiterary {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet-up {
    flex-direction: row;
  }
}

.classNameTextPartGridContainerTitleTextImageGridLiterary_1 {
  @extend .classNameTextPartGridContainerTitleTextImageGridLiterary;
  flex-wrap: wrap;

  > li {
    flex: 1 1 calc(44% - 14px);
  }
}

.containerTitleTextImageGridRecipe_4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  @include tablet-up {
    flex-direction: row;
  }
}

.containerTitleTextImageGridLiterary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include tablet-up {
    width: 50%;
  }
}

.containerTitleTextImageGridLiterary_1 {
  display: flex;
  flex-direction: column;
  background: $white;
  padding: 20px;
  border-radius: 20px;
}

.wrapperTitleTextImageGridRecipe_3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapperTitleTextImageGridRecipe_4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: decimal;
  margin-left: 20px;

  @include tablet-up {
    flex: 1 1 50%;
  }
}

.wrapperTitleTextImageGridLiterary {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: disc;
  margin-left: 20px;

  @include tablet-up {
    flex: 1 1 50%;
  }
}

.wrapperTitleTextImageGridRecipe_33 {
  @extend .wrapperTitleTextImageGridRecipe_3;
  list-style-type: disc;
  margin-left: 20px;
}

.wrapperTitleTextImageGridLiterary_1 {
  @extend .wrapperTitleTextImageGridRecipe_3;
  list-style-type: disc;
  margin-left: 20px;
}

.imageTitleTextImageGridRecipe_33 {
  width: 100%;
  aspect-ratio: 1340 / 1604;
}

.imageTitleTextImageGridRecipe_3 {
  width: 100%;
  height: auto;
  aspect-ratio: 201 / 16;
  max-width: 201px;
}
