@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.wrapper {
  margin: 60px 0px;
}

.container {
  display: grid;
  grid-template-areas:
    'a b'
    'd e'
    'c c';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 21px 27px;

  @include tablet-up {
    grid-template-areas:
      'a b c'
      'd e c';

    grid-template-columns: 1fr 1fr 2fr;
  }
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 219 / 200;

  @include tablet-up {
    aspect-ratio: unset;
  }
}

.imagesMultiRecipeDesktopMobile_1 {
  grid-area: a;
  @extend .image;
}

.imagesMultiRecipeDesktopMobile_2 {
  grid-area: b;
  @extend .image;
}

.imagesMultiRecipeDesktopMobile_3 {
  grid-area: e;
  @extend .image;
}

.imagesMultiRecipeDesktopMobileMinusMargin {
  grid-area: d;
  @extend .image;
  margin-bottom: -8px;
  height: 102%;

  @include desktop {
    margin-bottom: -17px;
  }

  @include desktop-large {
    margin-bottom: -17px;
  }
}

.imagesMultiRecipeDesktopMobileBig {
  grid-area: c;
  @extend .image;
  aspect-ratio: 381 / 415;
}
