@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.wrapperTitleImagesLiterary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @include tablet-up {
    grid-template-columns: repeat(5, 1fr);
  }
}

.titleTitleImagesLiterary {
  @include SF_font36_weight_590;
  margin: 60px 0px 30px;
  color: #1c1c1e;

  @include tablet-up {
    @include SF_font45_weight_590;
    margin-bottom: 24px;
  }
}

.descriptionTitleImagesLiterary {
  @include SF_font16_weight_274;
  margin-bottom: 24px;
}

.titleImagesLiterary {
  width: 100%;
  aspect-ratio: 162 / 162;
}
