@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.container {
  padding-bottom: 40px;

  @include tablet-up {
    max-width: 498px;
    margin-bottom: 16px;
    padding-bottom: 0;
  }
}

.textImagePropsAboutContainer {
  @include tablet-up {
    max-width: 100%;
  }
}

.textImagePropsTitle {
  @include font32_weight400;
}

.textImagePropsTitleDescription {
  @include font18_weight300;
}

.textImagePropsProjectsSaving_1_subTitle {
  @include font8_weight300;

  @include tablet-up {
    @include font12_weight300;
  }
}

.textImagePropsProjects_2_title {
  @include Avenir_font47_weight_500;
  text-align: center;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsProjects_3_title {
  @include font32_weight400;
  text-align: center;

  @include tablet-up {
    text-align: left;
    font-size: 48px;
  }
}

.textImagePropsProjects_1_subTitle {
  @include font12_weight300;
  text-align: center;
  padding-top: 4px;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsProjects_2_subTitle {
  @include Avenir_font14_weight_400;
  text-align: center;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsTitleDescription {
  @include font12_weight300;
  font-size: 26px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

.textImagePropsAboutDescription {
  @include font18_weight300;
  margin-bottom: 10px;
}

.textImagePropsProjectsDescription {
  @include font14_weight400;
  text-align: center;
  padding: 10px;

  @include tablet-up {
    padding: 0;
    text-align: left;
  }
}

.titleAboutMain {
  @include font32_weight600;
}

.titleAbout {
  @include font20_weight400;
}

.descriptionAbout {
  @include font16_weight300;
}

.icon {
  &::before {
    content: var(--icon-content);
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-left: 5px;
  }
}

.imageAboutCamera {
  width: 22px;
  height: 16px;
}

.labelImageProject1 {
  width: 141px;
  height: 49px;
  margin: 0px auto 6px auto;

  @include tablet-up {
    margin: 0px 0px 10px;
    width: 190px;
    aspect-ratio: 190 / 66;
  }
}

.labelImageProjectSaving1 {
  width: 141px;
  height: 49px;
  margin-bottom: 6px;

  @include tablet-up {
    margin-bottom: 10px;
    width: 218px;
    aspect-ratio: 764 / 264;
  }
}
