@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.container {
  padding-bottom: 40px;

  @include tablet-up {
    max-width: 700px;
    padding-bottom: 50px;
  }
}

.textImagePropsAboutContainer {
  @include tablet-up {
    max-width: 100%;
  }
}

.textImagePropsTitle {
  @include font32_weight400;
}

.textImagePropsTitleDescription {
  @include paragraphXL;
}

.textImagePropsProjectsSaving_1_subTitle {
  @include font8_weight300;

  @include tablet-up {
    @include font12_weight300;
  }
}

.textImagePropsProjects_2_title {
  text-align: center;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsProjects_3_title {
  text-align: center;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsProjects_1_subTitle {
  @include paragraphM;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 40px;

  @include tablet-up {
    text-align: left;
  }
}

.textImagePropsProjects_2_subTitle {
  @include paragraphM;
  text-align: center;
  padding-bottom: 40px;

  @include tablet-up {
    text-align: left;
  }
}

// .textImagePropsTitleDescription {
//   @include font12_weight300;
//   font-size: 26px;
//   line-height: 1.21;
//   letter-spacing: 0.02em;
// }

.textImagePropsAboutDescription {
  @include paragraphM;
  margin-bottom: 10px;
}

.textImagePropsProjectsDescription {
  @include paragraphL;
  text-align: center;
  padding: 10px;

  @include tablet-up {
    padding: 0px 0px 40px;
    text-align: left;
  }
}

.titleAboutMain {
  @include font48_weight500;
}

.titleAbout {
  @include font20_weight400;
}

.subTitleAboutMain {
  margin-bottom: 12px;
}

.descriptionAbout {
  @include paragraphM;
  margin-bottom: 12px;
}

.descriptionSkillsAbout {
  @include paragraphM;
}

.icon {
  &::before {
    content: var(--icon-content, '⚙');
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-left: 8px;
    position: relative;
    top: 3px;
  }
}

.imageAboutCamera {
  width: 22px;
  height: 16px;
}

.labelImageProject1 {
  width: 141px;
  height: 49px;
  margin: 0px auto 6px auto;

  @include tablet-up {
    margin: 0px 0px 10px;
    width: 190px;
    height: 66px;
  }
}

.labelImageProject2 {
  width: 268px;
  height: auto;
  aspect-ratio: 1039 / 189;
  margin: 0px auto 6px auto;

  @include tablet-up {
    margin: 0px 0px 10px;
  }
}

.labelImageProjectSaving1 {
  width: 141px;
  height: 49px;
  margin-bottom: 6px;

  @include tablet-up {
    margin-bottom: 10px;
    width: 244px;
    height: 84px;
  }
}
