@use '/styles/mixins.module.scss' as *;
@use '/styles/colors.module.scss' as *;
@use '/styles/variables.module.scss' as *;

.popupOverlay {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;

  @include tablet-up {
    align-items: center;
  }
}
.popupContent {
  background: $white;
  padding: 50px 20px;
  border-radius: 8px;
  position: relative;
  max-height: max-content;
  overflow-y: scroll;
  margin: 10% 5% 0;
  width: auto;

  @include tablet-up {
    margin: 5% 5% 0;
    max-width: fit-content;
    padding: 40px;
  }

  @include desktop-large {
    max-width: $max-content-width;
    padding: 20px;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
