$white: #ffffff;
$black: #000000;

$gree: #4caf50;
$backgroundProject_1: #efedfb;
$backgroundProject_2: #f9f9f9;
$backgroundProject_3: #f2f2f2;
$backgroundProject_4: #f5f7ff;
$backgroundVintage_1: #545454;
$backgroundLiterary_1: #2b47d4;
$border_1: #434343;
$border_2: #8f8f8e;
$border_3: #818182;
$descriptionRecipe: #4a4a49;
$footerProject: #596e65;
$imageTextVintage: #262c29;
$projectName: #767474;
$projectTitle: #f0923f;
$contactBorder: #b5aede;
$projectBorder: #b4aeae;
$titleTextLiterary: #1c1c1e;
$titleTextVintage: #101110;
