$white: #fff;
$black: #000;

$gree: #4caf50;
$backgroundProject_1: #efedfb;
$backgroundProject_2: #f9f9f9;
$backgroundProject_3: #f2f2f2;
$backgroundProject_4: #f5f7ff;
$projectName: #989696;
$projectTitle: #f0923f;
$contactBorder: #b5aede;
$projectBorder: #B4AEAE;

:export {
    white: $white;
    black: $black;
    green: $gree;
    projectName: $projectName;
    projectTitle: $projectTitle;
    backgroundProject_1: $backgroundProject_1;
    backgroundProject_2: $backgroundProject_2;
    backgroundProject_3: $backgroundProject_3;
    backgroundProject_4: $backgroundProject_4;
    contactBorder: $contactBorder;
    projectBorder: $projectBorder;
}
