/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/latolight-copy.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/latoitalic.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00C4, U+00D6, U+00DC, U+00E4, U+00F6, U+00FC,
    U+00DF;
}

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/latoregular.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00C4, U+00D6, U+00DC, U+00E4, U+00F6, U+00FC,
    U+00DF;
}

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/latomedium.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00C4, U+00D6, U+00DC, U+00E4, U+00F6, U+00FC,
    U+00DF;
}

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/latosemibold1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/latobold.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00C4, U+00D6, U+00DC, U+00E4, U+00F6, U+00FC,
    U+00DF;
}
