$mobile-width: 375px;
$tablet-width: 768px;
$tablet-large-width: 1024px;
$desktop-width: 1440px;

$mobile-side-margin: 24px;
$tablet-side-margin: 48px;
$desktop-side-margin: 80px;
$desktop-side-large-margin: 140px;

$max-content-width: 1100px;
$max-header-footer-width: 1900px;


:export {
    mobileWidth: $mobile-width;
    tabletWidth: $tablet-width;
    tabletLargeWidth: $tablet-large-width;
    desktopWidth: $desktop-width;
    sideMobileMargin: $mobile-side-margin;
    sideTabletMargin: $tablet-side-margin;
    sideDesktopMargin: $desktop-side-margin;
    sideDesktopLargeMargin: $desktop-side-large-margin;
    maxContentWidth: $max-content-width;
    maxHeaderFooterWidth: $max-header-footer-width;
}
