@use '../../styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 40px;

  @include tablet-up {
    flex-direction: row;
    padding: 0px 0px 60px;
  }
}

.containerDown {
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  @include tablet-up {
    flex-direction: row;
    gap: 90px;
  }
}

.skillsBlockContainer {
  @include tablet-up {
    margin-top: 70px;
  }
}

.titleAboutMain {
  @include font48_weight500;
  margin-bottom: 12px;
}

.subTitleAboutMain {
  margin-bottom: 12px;
}

.mainImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 811 / 857;
  margin: 40px 0px;

  @include tablet {
    min-width: 210px;
  }

  @include tablet-up {
    max-width: 372px;
    margin: 0px 40px 40px 0px;
  }
}

.containerLogos {
  display: flex;
  gap: 14px;
}

.figmaLogo {
  width: 67px;
  height: 33px;
}

.adobeLogo {
  width: 30px;
  height: 30px;
}

.psLogo {
  width: 30px;
  height: 30px;
}
