@use '../../styles/mixins' as *;
@use '../../styles/colors' as *;
@use '../../styles/variables' as *;

.backgroundWrapper {
  width: 100%;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}
