@use 'styles/mixins.module.scss' as *;
@use 'styles/colors.module.scss' as *;
@use 'styles/variables.module.scss' as *;

.backgroundWrapper {
  width: 100%;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}
