@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/variables.module.scss';

.wrapper {
  margin: 7cap 0px;
}

.classNameWrapperVintageDesMob_1 {
  margin-bottom: 60px;
}

.classNameWrapperLiteraryDesMob {
  display: grid;
  gap: 10px 20px;

  li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;

    @include tablet-up {
      grid-column: 2;
      grid-row: 1;
    }
  }

  li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;

    @include tablet-up {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}

.titleImageTextRecipe {
  @include Avenir_font36_weight_800;
  margin-bottom: 40px;
  color: #f0923f;

  @include tablet-up {
    @include Avenir_font40_weight_800;
    margin-bottom: 30px;
  }
}

.descriptionImageTextRecipe {
  @include Avenir_font14_weight_350;
  margin-bottom: 20px;
}

.classNameWrapperRecipeDesMob {
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  grid-template-columns: 1fr;

  @include tablet-up {
    grid-template-areas:
      'a b'
      'c b'
      'd d';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }
}

.classNameTextContainerTitleTextImageDesMob {
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:last-child {
    grid-area: d;
  }
}
